html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

#map {
    width: 100%; /* Adjust width as needed */
    height: 600px;
}

.city-marker {
    fill: red;
    opacity: 0.5;
    cursor: pointer;
}

.city-marker:hover {
    opacity: 1;
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.tooltip.show {
    opacity: 1;
}

/* Style for x-axis label */
.x-axis-label {
    text-align: center;
    margin-top: -15px;
    font-size: 14px;
    color: #000; /* Gray */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #333;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

#chart {
    margin-top: 20px;
}

/* Style for dropdown */
select {
    padding: 6px 10px; /* Decrease padding */
    font-size: 14px; /* Decrease font size */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

/* Style for axes */
.axis text {
    font-size: 14px;
}

/* Style for axis labels */
.y-axis-label {
    font-size: 16px;
}

.hover-text {
    font-weight: bold;
    fill: black;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
  .season-toggle-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
  .season-toggle-containerb {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.season-toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.season-toggleb {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.season-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.season-toggleb input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggle-labelb {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-label:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggle-labelb:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

.season-toggle input:checked + .toggle-label {
    background-color: #2196F3;
}
.season-toggleb input:checked + .toggle-labelb {
    background-color: #2196F3;
}

.season-toggle input:focus + .toggle-label {
    box-shadow: 0 0 1px #2196F3;
}
.season-toggleb input:focus + .toggle-labelb {
    box-shadow: 0 0 1px #2196F3;
}

.season-toggle input:checked + .toggle-label:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
.season-toggleb input:checked + .toggle-labelb:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.season-toggle .toggle-label {
    border-radius: 20px;
}
.season-toggleb .toggle-labelb {
    border-radius: 20px;
}

.season-toggle .toggle-label:before {
    border-radius: 50%;
}
.season-toggleb .toggle-labelb:before {
    border-radius: 50%;
}

/* Style for season label */
#season-label {
    margin-left:40px;
    font-weight: bold;
    color: #666; /* Default color */
    transition: color 0.3s ease; /* Smooth color transition */
    position: relative;
    top: -18px; /* Adjust vertical position */
}

/* Style for season label */
#season-labelb {
    margin-left:40px;
    font-weight: bold;
    color: #666; /* Default color */
    transition: color 0.3s ease; /* Smooth color transition */
    position: relative;
    top: -18px; /* Adjust vertical position */
}

/* Style for season label when season is toggled */
.season-toggle input:checked + .toggle-label + #season-label {
    color: #2196F3; /* Change color when toggled */
}

/* Style for season label when season is toggled */
.season-toggleb input:checked + .toggle-labelb + #season-labelb {
    color: #2196F3; /* Change color when toggled */
}

.legend-container {
    width: 100%;
    height: 100px; /* Adjust the height as needed */
    margin-top: 20px; /* Adjust the margin as needed */
}
#bubble-description {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    text-align: center;
}

#bubble-description span {
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}

#line_chart {
    width: 100%; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    margin-top: 20px; /* Adjust margin as needed */
}

.line-chart svg {
    width: 100%;
    height: 100%;
}